@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

$light-black: rgb(11, 13, 23) ;
$light-grey: rgb(208, 214, 249);
$light-white: rgb(255, 255, 255);
$small-h: 28px;
$massive-h: 150px;
$normal-p: 18px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bellefair", serif;
  font-size: 16px;
  color: $light-white;
}
h2 {
  font-size: $small-h;
}
p {
  font-size: $normal-p;
}

.app-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 250px;
  height: 100vh;
  background-image: url('./assets/home/background-home-desktop.jpg');
  background-size: cover;
  background-position: center;

  // Start nav 
  nav {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    padding-right: 0;
    svg{
      transform: rotate(0.5turn);
    }
    .nav-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
        span {
          display: block;
          width: 400px;
          margin-right: -20px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.189);
          z-index: 1000;
        }
        .nav-links {
          display: flex;
          padding-left: 80px;
          padding-top: 30px;
          padding-right: 100px;
          padding-bottom: 30px;
          backdrop-filter: blur(50px);
          gap: 48px;
          button {
            background-color: transparent;
            border: none;
            color: $light-white;
            letter-spacing: 2px;
          }
          button:hover {
            cursor: pointer;
            text-shadow: 0 0 10px $light-grey;
          }
          .active {
            color: rgb(205, 194, 133);
            scale: 1.2;
          }
        }
    }}
  // End nav 

  // Home start
  .home__wrapper {
    max-width: 1200px;
    margin: auto;
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .info__wrapper {
      max-width: 440px;
      h1{
        font-size: $massive-h;
      }
    }
    button {
      color: $light-black;
      font-size: $small-h;
      width: 274px;
      height: 274px;
      background-color: $light-white;
      border-radius: 50%;
    }
    .button__holder{
      position: relative;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      &:after{
          position: absolute;
          z-index: 0;
          top: 0; right: 0; bottom: 0; left: 0;
          background: rgba(#1a1a1a, 0.7);
      }
      }
      .plus{
        position: relative;
        z-index: 1;
        color: #1a1a1a;
        background: #ffffff;
        border-radius: 50%;
        border: none;
        transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 800ms cubic-bezier(.2,0,.7,1);
        &:after{
            font-size: 2.5em;
            line-height: 1.1em;
        }
        &:hover{
          cursor: pointer;
            transform: scale(1.2);
            box-shadow: 0 0 1px 15px rgba(#ffffff, 0.4),
            0 0 1px 30px rgba(#ffffff, 0.1),
            0 0 1px 45px rgba(#ffffff, 0.1);
        }
    }}
  
  // Destination start
  .destination {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    .destination__heading {
      display: flex;
      justify-content: left;
      gap: 10px;
      span {
        font-size: 28px;
        color: #ffffff4d;
      }
    }
    .destination__wrapper {
      display: flex;
      justify-content: space-between;
      .destination__main-info {
        max-width: 390px;
        // Copy here
        nav {
          padding: 5px 5px 0;
        }
        .tabs {
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
          width: 100%;
        }
        
        ul {
          display: flex;
          width: 100%;
          align-items: left;
        }
        
        li {
          margin: auto;
          padding: 10px 10px 10px;
          position: relative;
          cursor: pointer;
          display: flex;
          min-width: 0;
          position: relative;
          user-select: none;
        }
        
        .underline {
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 1px;
        }
        
        li.selected {
          border-bottom: 2px solid white;
        }
        
        li button {
          width: 20px;
          height: 20px;
          border: 0;
          display: flex;
          cursor: pointer;
        }
        
        .background {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 300px;
        }
        
        .add-item {
          width: 30px;
          height: 30px;
          background: #eee;
          border-radius: 50%;
          border: 0;
          cursor: pointer;
          align-self: center;
        }
        
        .add-item:disabled {
          opacity: 0.4;
          cursor: default;
          pointer-events: none;
        }

        // Copy end
      .main-info__wrapper {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1{
          font-size: 100px;
        }
        p {
          font-size: $normal-p;
          color: $light-grey;
        }
        span {
          border: 1px solid $light-grey;
          border-color: rgba(255, 255, 255, 0.32);
        }
        .distant-wrapper {
          display: flex;
          gap: 40px;
          h3 {
          font-size: $normal-p;
          color: $light-white;
          font-weight: 300;
          }
        }
      }
      }
    }}} 

  // Crew start
  .crew {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    .crew__heading {
      display: flex;
      justify-content: left;
      gap: 10px;
      span {
        font-size: 28px;
        color: #ffffff4d;
      }
    }
    .crew__wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 20px;
      .crew__main-info {
        
        nav {
          padding: 5px 5px 0;
        }
        .tabs {
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
          width: 100%;
        }
        
        ul {
          display: flex;
          width: 100%;
          align-items: left;
          gap: 20px;
        }
        
        li {
          margin: auto;
          padding: 10px 10px 10px;
          position: relative;
          cursor: pointer;
          display: flex;
          min-width: 0;
          position: relative;
          user-select: none;
        }
        
        .underline {
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 1px;
        }
        
        li.selected {
          border-bottom: 2px solid white;
        }
        
        li button {
          width: 20px;
          height: 20px;
          border: 0;
          display: flex;
          cursor: pointer;
        }
        
        .background {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 300px;
        }
        
        .add-item {
          width: 30px;
          height: 30px;
          background: #eee;
          border-radius: 50%;
          border: 0;
          cursor: pointer;
          align-self: center;
        }
        
        .add-item:disabled {
          opacity: 0.4;
          cursor: default;
          pointer-events: none;
        }
        .crew-main-info__wrapper {
          max-width: 550px;
          margin-top: 100px;
          h1 {
            font-size: 80px;
          }
          p{
            margin-top: 20px;
            font-size: 30px;
          }
        }
      }}

    
    }

  .technology {
      max-width: 1200px;
      margin: auto;
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 64px;
      .technology__heading {
        display: flex;
        justify-content: left;
        gap: 10px;
        span {
          font-size: 28px;
          color: #ffffff4d;
        }
      }
      .technology__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
        .technology__img {
          max-width: 400px;
        }
        .technology__main-info {
          display: flex;
          gap: 20px;
          nav {
            padding: 5px 5px 0;
          }
          .tabs {
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 100%;
          }
          
          ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: left;
            gap: 20px;
          }
          
          li {
            margin: auto;
            padding: 5px 10px 5px;
            position: relative;
            display: flex;
            min-width: 0;
            position: relative;
            user-select: none;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid ;
          }
          
          .underline {
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 1px;
          }
          
          li.selected {
            background-color: $light-white;
            color: black;
            border-color: $light-grey;
          }
          
          li button {
            width: 20px;
            height: 20px;
            border: 2px solid;
            display: flex;
            cursor: pointer;
          }
          
          .background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 300px;
          }
          
          .add-item {
            width: 30px;
            height: 30px;
            background: #eee;
            border-radius: 50%;
            border: 0;
            cursor: pointer;
            align-self: center;
          }
          
          .add-item:disabled {
            opacity: 0.4;
            cursor: default;
            pointer-events: none;
          }
          .technology-main-info__wrapper {
            max-width: 550px;
            margin-top: 100px;
            h3{
              color: $light-grey;
            }
            h1 {
              font-size: 60px;
            }
            p{
              margin-top: 20px;
              font-size: 20px;
            }
          }
        }}
  
      
      }